*{
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #575b63;
  color: #eee;
  padding: 2% 8%;
}
.heading{
  font-weight: 400;
  margin: 20px 0;
}
.login-form{
  margin: 50px 0;
}
.login-form label{
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: flex-end;
}
.login-form input{
  margin: 0 120px 20px 20px;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 4px 10px;
  background-color: #606268;
  color: #bbb;
  box-shadow: 0 2px 10px #333;
  border-radius: 4px;
}
.login-form button{
  width: 100px;
  outline: none;
  border: none;
  background-color: rgba(36, 36, 43, 0.904);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
}
footer{
  background-color: #212121 !important;
}
.main-container{
  background-color: #ddd;
  padding: 1px;
}

.app-sections{
  max-width: 1200px;
  margin: 50px auto;
  background-color: #bbb;
}
.sections-topbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 4%;
  background-color: #555;
}
.links{
  text-decoration: none;
  color: #ccc;
  margin-right: 20px;
  font-weight: 300;
}
.links:hover{
  color: #fff;
}